i {
    cursor: pointer;
}

.nav-link.active {
    color: #FFD700 !important;
    /* color: #00FFFF !important; */
    text-decoration: underline;
    text-decoration-color: #FFD700;
    text-decoration-thickness: 3px;
    text-underline-offset: 6px;
}

html,
body,
#root {
    height: 100%;
    margin: 0;
    padding: 0;
}

body,
html,
#root,
.app-theme {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #ffffff;
}

.glass-effect {
    color: #ffffff !important;
    background: rgba(255, 255, 255, 0.1) !important;
    backdrop-filter: blur(10px) !important;
    -webkit-backdrop-filter: blur(10px) !important;
    border: 1px solid rgba(255, 255, 255, 0.3) !important;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
}

.glass-effect:focus {
    color: #ffffff;
    background: rgba(255, 255, 255, 0.2) !important;
    border: 1px solid rgba(255, 255, 255, 0.5) !important;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.3) !important;
    outline: none !important;
}

.modal {
    z-index: 1060 !important;
  position: fixed !important;
}

.modal-backdrop {
  z-index: 1050 !important;
}